body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #747474;
} 

h1, h2{
  font-family: serif;
  text-align: center;
}

.container{
  position: relative;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(61, 80, 77, 0.3);
  width: 50%;
  border-radius: 10px;
  box-shadow: 10px 10px 8px #252525;
  padding: 10px;
}

img{
  position: relative;
  width: 50%;
  margin-bottom: 10px;
}
a{
  text-decoration: none;  
  color: #fff;  
  border: outset rgb(131, 131, 131) 2px;
  padding: 2px;
  
  background-color: rgb(51, 51, 51);
  
}
.container:hover{
  box-shadow: none;
}

a:hover{
  border: inset rgb(0, 0, 0) 2px;
} 