body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #747474;
}

h1, h2{
  font-family: serif;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(61, 80, 77, 0.3);
  width: 50%;
  border-radius: 10px;
  box-shadow: 10px 10px 8px #252525;
  padding: 10px;
  height: 800px;
  background-image: url("404-error.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.error{
    width: 184px;
    height: 216px;
    background-image: url("ghost.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation-name: exemple;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes exemple {
    0%   {background-image: url("ghost.png"); left:0px; top:0px;}
    25%  {background-image: url("ghost.png"); left:-10px; top:-25px;}
    50%  {background-image: url("ghost.png"); left:-20px; top:-50px;}
    75%  {background-image: url("ghost.png"); left: 10px; top:-100px;}
    100% {background-image: url("ghost.png"); left:0px; top:0px;}
}

.eye img:nth-child(1){
  position: relative;
  top: 68px;
  left: 47px;
  width:50px;
  height:50px;
}
.eye img:nth-child(2){
  position: relative;
  top: 68px;
  left: 27px;
  width:50px;
  height:50px;
}

a{
  background-color: #ff5146;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px black;
  position: relative;
  top: 80px;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}
a:hover{
  background-color:
}
