body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BCBFC2;
}

h1, h2{
  font-family: serif;
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #A0A6A5;
  width: 50%;
  border-radius: 10px;
  box-shadow: 10px 10px 8px gray;
}

img{
  position: relative;
}
.container:hover{
  box-shadow: none;
}
